{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="col-12 mb-20">
            <div class="wg-box">
                <h3>Hisobot</h3>
                <form action="" method="post">
                    <div class="row">
                        <div class="col-xl-4 mb-20">
                            <div>
                                <h5 class="mb-16">Boshlanish sanasi</h5>
                                <form class="">
                                    <div class="select">
                                        <input type="date" name="start_date" value="{{start}}">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-20">
                            <div>
                                <h5 class="mb-16">Tugash sanasi</h5>
                                <form class="">
                                    <div class="select">
                                        <input type="date" name="end_date" value="{{today}}">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-20">
                            <div>
                                <h5 class="mb-16">Natija</h5>
                                <form class="">
                                    <div>
                                        <button class="tf-button w208" type="submit">Jo`natish</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tf-section-4 mb-30">
        </div>
        <div class="tf-section-8 mb-30">
        </div>
        <div class="tf-section-2">
        </div>
    </div>
    <!-- /main-content-wrap -->
{% endblock %}   