{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<style>
    body-title span {
    margin-left: 10px;
    font-size: 12px;
}

.icon-up:after {
    content: "↑";
}

.icon-down:after {
    content: "↓";
}

</style>
<div class="wg-box">
    <form action method="post">
        {% csrf_token %}
        <div class="flex items-center justify-between gap10 flex-wrap">
            <div class="select w200">
                <select class name="branch">
                    {% for k,b in branches.items %}
                    <option value="{{k}}" {% if request.session.branch == k %}
                        selected {% endif %} disabled>{{b}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xl-4 mb-20">
                <div>
                    <div class="select">
                        <input type="month" name="start_date" value="{{start}}">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mb-20">
                <div>
                    <div class="select">
                        <input type="month" name="end_date" value="{{end}}">
                    </div>
                </div>
            </div>
            <button type="submit"
                class="tf-button style-1 w208">Filterlash</button>
        </div>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="end" value="{{end}}">
        <input type="hidden" name="start" value="{{start}}">
        <input type="hidden" name="branch_excel" value="{{request.session.branch}}">
        <button type="submit" class="tf-button style-1 w208"><i class="icon-file-text"></i>Excel</button>
    </form>
</div>
    <div class="wg-table table-all-attribute">
        <ul class="table-title flex gap20 mb-14">
            <li>
                <div class="body-title" onclick="sortTable('number')">№ <span id="number-icon"></span></div>
            </li>    
            <li>
                <div class="body-title" onclick="sortTable('tur')">Tur <span id="tur-icon"></span></div>
            </li>
            <li>
                <div class="body-title" onclick="sortTable('product')">Mahsulot nomi <span id="product-icon"></span></div>
            </li>
            <li>
                <div class="body-title" onclick="sortTable('quantity')">Miqdor <span id="quantity-icon"></span></div>
            </li>
            <li>
                <div class="body-title" onclick="sortTable('price')">Narx <span id="price-icon"></span></div>
            </li>
            <li>
                <div class="body-title" onclick="sortTable('total')">Summa <span id="total-icon"></span></div>
            </li>
            <li>
                <div class="body-title" onclick="sortTable('income')">Kirim sana <span id="income-icon"></span></div>
            </li>
            <li>
                <div class="body-title" onclick="sortTable('out')">Chiqim sana <span id="out-icon"></span></div>
            </li>
            <li>
                <div class="body-title" onclick="sortTable('difference')">Ortacha <span id="difference-icon"></span></div>
            </li>
        </ul>
        <ul class="flex flex-column" id="product-list">
            {% for p in products %}
            <li class="attribute-item flex items-center justify-between gap20">
                <div class="body-text">{{forloop.counter}}</div>
                <div class="body-text">{{p.type}}</div>
                <div class="body-text">{{p.product}}</div>
                <div class="body-text">{{p.quantity}} ta</div>
                <div class="body-text">{{p.price}} $</div>
                <div class="body-text">{{p.total}} $</div>
                <div class="body-text">{{p.income}}</div>
                <div class="body-text">{{p.out}}</div>
                <div class="body-text">{{p.difference}} kun</div>
            </li>
            {% endfor %}
            <li class="attribute-item flex items-center justify-between gap20">
                <div class="body-text">Jami</div>
                <div class="body-text"></div>
                <div class="body-text">{{totals.products}}</div>
                <div class="body-text">{{totals.quantity}} ta</div>
                <div class="body-text"></div>
                <div class="body-text">{{totals.total|intcomma}} $</div>
                <div class="body-text"></div>
                <div class="body-text"></div>
                <div class="body-text"></div>
            </li>
        </ul>
    </div>    
    <div class="divider"></div>
    <div class="flex items-center justify-between flex-wrap gap10">
        <div class="text-tiny">Showing 10 entries</div>
        <ul class="wg-pagination">
            <li>
                <a href="#"><i class="icon-chevron-left"></i></a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li class="active">
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#"><i class="icon-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>
<script src="{% static 'js/sort_type_detail.js' %}"></script>
{% endblock %}